.main{
    background-color: #c3c3c3;
    padding: 16px;
    width: 500px;
}

.city_group{
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.city{
    display: flex;
    justify-content: space-between;
}

.info_group{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.button_add{
    background-color: rgb(47, 150, 240);
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    padding: 8px;
    width: 150px;
}

